

.mainContainer {
    position: relative;
  }
  
  .buttonContainer {
    position: absolute;
    top: 20px;    right: 20px;
    display: flex;
    gap: 10px;
  }
  
  .button {
    padding: 8px 12px;
    border: none;
    background-color: #10ebeb;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  .button:hover {
    background-color: #63d7ec;
    color: rgb(3, 44, 57);
  }
  